/*Typographie*/

h1 {
    font-size: 6vmin;
}

h1 span {
    color: #FF3EA5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1em;
}


/*Layout*/

img {
    vertical-align: middle;
}

body {
    margin: 0;
    background-color: #6420AA;
}

footer {
    background-color: #FF7ED4;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}


.container {
    max-width: 1000px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.banner {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em;
    text-align: center;
}


@media (min-width: 400px) and (orientation: landscape) {
    .banner {
        background-image: url(./img/header.jpg);
        background-size: cover;
        background-position: top;
    }
}


/*Pictures*/

.picture {
    margin-top: 1em;
    display: flex;
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .picture {
        width: 100%; /* Set the width to 100% on smaller screens */
        height: auto; /* Allow the height to adjust proportionally */
    }
}

/*NAV*/

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #FF3EA5;
    padding: .25em;
}

nav a:hover,
nav a:focus {
    color: #FF7ED4;
}

/* Flex items */

.column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .column {
        flex-direction: column;
        max-width: 95%;
        width: 100%;
    }
}

.col1 {
    width: 60%;
    background-color: #FFB5DA; 
    padding: 1rem;
    margin-top: 1rem;
}


.col2 {
    width: 30%;
    background-color: #FFB5DA;
    padding: 1rem;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .col1,
    .col2 {
        width: 100%;
    }
    .col1 {
        background-color: #FF7ED4;
    }
    .col2 {
        background: #FF7ED4;
    }
}
